@import "ui-mixins";
@import "ui-variables";
@import "buttons";

atom-pane-container {
  atom-pane {
    background-color: @syntax-background-color;

    &:focus {
      background-color: @syntax-background-color;
    }
  }

  atom-pane-axis.horizontal > * {
    border-right: 1px solid @pane-item-border-color;
    &:last-child { border-right: none; }
  }

  atom-pane-axis.vertical > * {
    border-bottom: 1px solid @pane-item-border-color;
    &:last-child { border-bottom: none; }
  }
}

status-bar {
  font-family: @font-family-monospace;
  font-size: @font-size;
  background: @tree-view-background-color;
  height: @tab-height;
  line-height: @tab-height;
}

.bottom.tool-panel.panel-bottom {
  border: 0;
}

atom-pane-container > atom-pane {
  background: @syntax-background-color;
}

.tool-panel.panel-bottom.bottom {
  background: @tree-view-background-color;
  font-family: @font-family-monospace;

  .find-and-replace {
    box-shadow: 0 0 10px #9f9f9f;
  }
}

.modal.overlay.from-top {
  background: @tree-view-background-color;
  border-radius: 0;
  border: 0;
  font-family: @font-family-monospace;
}

.preview-pane {
  background: @syntax-background-color;
}

.panel-heading {
  font-family: @font-family-monospace;
  background: @syntax-background-color;
  padding: 0 @padding-small;
  height: @tab-height;
  line-height: @tab-height;
  font-size: @input-font-size;
}

.results-view {
  background: @syntax-background-color;
  padding: 0 @padding-small;
  font-family: @font-family-monospace;
  font-size: @input-font-size;
}

.results-view .search-result .preview {
  font-family: @font-family-monospace;
  font-size: @input-font-size;
  color: @text-color-subtle;
}

.results-view .search-result.selected .preview {
  color: white;
}

.results-view .search-result .line-number {
  opacity: 0.5;
}

.results-view .search-result.selected::before,
.results-view .path.list-nested-item.selected::before {
  background: blue;
}

.results-view .path.list-nested-item {
  margin-bottom: @padding-small;
}
