@import "ui-variables";

.tree-view {
	font-size: @font-size;
	// background: @tree-view-background-color;
	font-family: @font-family-monospace;

	.selected:before {
		background: #d0d0d0;
	}
}

.tree-view-resizer {
	.tree-view-resize-handle {
		width: 8px;
	}
}

.left.tool-panel.panel-left {
	border: 0;
	background: @syntax-background-color;
}

.project-root {
	// The first direct header, ie the repo title
	& > .header {
		height: @tab-height;
		line-height: @tab-height !important;
		color: black !important;
	}

	&::before {
		height: @tab-height !important;
	}

	&.selected::before {
		background: none;
	}
}

.list-tree.entries {

	.entry:hover {
		cursor: pointer;
	}

	.entry.list-nested-item.selected > .header,
	.file.entry.list-item.selected {
			color: white !important;
	}

	.selected::before {
		height: @tree-view-list-item-height !important;
		background: @text-color-success;
	}
}

.name.icon.icon-repo {
	font-weight: bold;
}

.name.icon.icon-repo:before {
	display: none;
}

.file.entry.list-item.selected .name.icon.icon-file-text {
	color: white;
}

.tree-view-scroller {
	height: auto !important;
	border: 1px solid rgba(0,0,0,0.1);
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.tree-view-scroller:hover {
	opacity: 1;
}

.tree-view-resizer {
	background: @syntax-background-color;
	// margin: @padding-small;
	overflow: auto;
}
